<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">NS</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
        <div class="menu-icon">&#9776;</div>
    </nav>

    <header class="hero">
        <div class="hero-image">
            <h1><span class="highlight">Hello!</span></h1>
            <p>
                I'm Nishita, a passionate Software Engineer with
                experience in AI and Machine Learning. I specialize in
                full-stack development and working on impactful projects.
            </p>
        </div>
    </header>

    <section class="about">
        <div class="about-container">
            <div class="about-image">
                <img src="/images/IMG_20250104_004128.webp" alt="Nishita Singh">
            </div>
            <div class="about-text">
                <h2>About Me</h2>
                <p>
                    Greetings! I'm a dedicated machine learning and AI enthusiast with a curious mind and a penchant for
                    exploring the vast world of technology.
                    My journey in technology commenced with my passion for programming, which evolved into a deep
                    exploration of computer science.
                    As an undergraduate student, I have delved into Artificial Intelligence, Machine Learning, and NLP,
                    applying theory through real-world projects.
                </p>
                <p>
                    My projects and research have given me valuable insights into the world of AI, inspiring me to
                    develop innovative solutions.
                    I am driven by the dream of making a positive impact through technology.
                </p>
                <p class="signature">Nishita Singh</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact Me</a></li>
                </ul>
            </div>
            <div class="footer-icons">
                <a href="https://linkedin.com/in/nishitasingh30" target="_blank"><img src="/images/linkedin-icon.png"
                        alt="LinkedIn" class="icon"></a>
                <a href="https://github.com/nishita339" target="_blank"><img src="/images/github-icon.png" alt="GitHub"
                        class="icon"></a>
                <a href="mailto:nishitasingbtp@gmail.com"><img src="/images/email-icon.png" alt="Email"
                        class="icon"></a>
            </div>
            <p>&copy; 2025 Nishita Singh. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/script.js" defer></script>
</body>

</html>