<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/resume.css">
</head>

<body>
     <!-- Navbar -->
     <nav class="navbar">
        <div class="logo">NS</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
        <div class="menu-icon">&#9776;</div>
    </nav>

    <section class="resume-section">
        <h2>Resume</h2>
    
        <div class="resume-container">
            <img src="/images/Nishita_singh_Resume (1).jpg" alt="Resume">
        </div>
    
        <a href="/images/Nishita_singh_Resume.pdf" class="download-button" target="_blank">
            Download <i class="fas fa-download"></i>
        </a>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact Me</a></li>        
                </ul>
            </div>
            <div class="footer-icons">
                <a href="https://linkedin.com/in/nishitasingh30" target="_blank"><img
                        src="https://cdn-icons-png.flaticon.com/128/2504/2504923.png" alt="LinkedIn" class="icon"></a>
                <a href="https://github.com/nishita339" target="_blank"><img
                        src="https://cdn-icons-png.flaticon.com/128/270/270798.png" alt="GitHub" class="icon"></a>
                <a href="mailto:nishitasingbtp@gmail.com"><img
                        src="https://cdn-icons-png.flaticon.com/128/15047/15047587.png" alt="Email" class="icon"></a>
            </div>
        </div>
        <p>&copy; 2025 Nishita Singh. All rights reserved.</p>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>
